* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Geneva, Tahoma, Calibri, sans-serif;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  background: url(../images/2010.jpg) no-repeat center center/cover;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 0;
}

input[type="text"] {
  border: none;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position:10px;
  background-size:17px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  border-radius: 7px;
}

.description {
  display: flex;
  position: relative;
  top: 32vh;
  padding: 0 20px;
  align-items: flex-end;
}

.conditions {
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-end;
}

.conditions > p {
  transform: rotate(-89deg);
}

.degree {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

h1 {
  font-size: 5rem;
}

footer {
  justify-content: center;
}
.footer-container {
  background-color: rgb(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 8px;
}
